
.paymentButton {
  background: #f84464 !important;
}
.paymentButtonContainer {
  position: sticky;
  bottom: 10px;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
}
.buttonHolder {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
